### Important packages

In [1]:
pip install billboard.py

Requirement already satisfied: billboard.py in e:\anaconda3\lib\site-packages (7.0.0)
Requirement already satisfied: requests>=2.2.1 in e:\anaconda3\lib\site-packages (from billboard.py) (2.26.0)
Requirement already satisfied: beautifulsoup4>=4.4.1 in e:\anaconda3\lib\site-packages (from billboard.py) (4.10.0)
Requirement already satisfied: soupsieve>1.2 in e:\anaconda3\lib\site-packages (from beautifulsoup4>=4.4.1->billboard.py) (2.2.1)
Requirement already satisfied: charset-normalizer~=2.0.0 in e:\anaconda3\lib\site-packages (from requests>=2.2.1->billboard.py) (2.0.4)
Requirement already satisfied: certifi>=2017.4.17 in e:\anaconda3\lib\site-packages (from requests>=2.2.1->billboard.py) (2021.10.8)
Requirement already satisfied: idna<4,>=2.5 in e:\anaconda3\lib\site-packages (from requests>=2.2.1->billboard.py) (3.2)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in e:\anaconda3\lib\site-packages (from requests>=2.2.1->billboard.py) (1.26.7)
Note: you may need to restart the kernel to use updated packages.

In [2]:
# billboard to load data from Billboard.com
import billboard
# pandas to convert data into DataFrame
import pandas as pd

### Get top 10 artists from 2006 to 2021 
- `artists:` top 10 artists in all years.
- `year:` to use it when loading songs.
- `cnt:` to stop itration when we get top 10 every year.
- `chart:` data from Billboard which include artists names and title of songs

In [3]:
artists = []
year = 2021
for y in range(2022-2006):
    chart = billboard.ChartData('Top-Artists', year=year)
    cnt = 0
    for chr in chart:
        cnt += 1
        if chr.artist not in artists:
                artists.append(chr.artist)
        if cnt == 10:
            break
    
    year -= 1

len(artists)

80

### Make a method to load data from Billboard
<b>prameters: </b>
- `type:` type of chart we get from Billboard.
- `data:` list of dictionary we collocet data into.
- `artists:` list of artists names.
- `titles:` list of songs name use it to avoid repeat songs.
- `year:` use it when collect popular data.
- `date:` use it when collect unpopular data.
- `year:` use it when collect popular data.
- `label:` 1 if popular and 0 if unpopular.

In [4]:
def getData(type, data, artists, titles, year=None, date=None, label=None):
    if date==None:
        HotChart = billboard.ChartData(type, year=year)
    else:
        HotChart = billboard.ChartData(type, date=date)
    for hot in HotChart:
        # To collect the name of artists that exists in the artist's list and choose another song for the same artist.
        # This is to avoid repeat songs and enter artist doesn't exist in artists list.
        if hot.title not in titles and hot.artist in artists:
                titles.append(hot.title)
                data.append({'Artist': hot.artist, 'Title': hot.title, 'Label': label})
    
    return data, titles

### Here we collect popular data from 2006 to 2021

In [5]:
data = []
titles = []
year = 2021
for i in range(2022-2006):
    data, titles = getData('Hot-100-Songs', data, artists, titles, year, label=1) # popular songs
    year -= 1

In [6]:
print(len(data))
print(len(artists))
print(len(titles))

403
80
403

### Here I collect popular data from 2006 to 2021 I use another songs that I don't use in popular data
I split the year into 4 splits to get a lot of songs with the same artists which I choose and used the same techniques for every year.

In [7]:
dates = ['2021-12-01','2021-08-01','2021-04-01','2021-01-01',
        '2020-12-01','2020-08-01','2020-04-01','2020-01-01',
        '2019-12-01','2019-08-01','2019-04-01','2019-01-01',
        '2018-12-01','2018-08-01','2018-04-01','2018-01-01',
        '2017-12-01','2017-08-01','2017-04-01','2017-01-01',
        '2016-12-01','2016-08-01','2016-04-01','2016-01-01',
        '2015-12-01','2015-08-01','2015-04-01','2015-01-01',
        '2014-12-01','2014-08-01','2014-04-01','2014-01-01',
        '2013-12-01','2013-08-01','2013-04-01','2013-01-01',
        '2012-12-01','2012-08-01','2012-04-01','2012-01-01',
        '2011-12-01','2011-08-01','2011-04-01','2011-01-01',
        '2010-12-01','2010-08-01','2010-04-01','2010-01-01',
        '2009-12-01','2009-08-01','2009-04-01','2009-01-01',
        '2008-12-01','2008-08-01','2008-04-01','2008-01-01',
        '2007-12-01','2007-08-01','2007-04-01','2007-01-01',
        '2006-12-01','2006-08-01','2006-04-01','2006-01-01']
for date in dates:
    data, titles = getData('hot-100', data, artists, titles, date=date, label=0) # unpopular songs

In [8]:
print(len(data))
print(len(artists))
print(len(titles))

809
80
809

### Convert data to dataframe by using pandas

In [9]:
df = pd.DataFrame(data)
df

             Artist                           Title  Label
0        The Weeknd                 Blinding Lights      1
1    Olivia Rodrigo                        Good 4 U      1
2    Olivia Rodrigo                 Drivers License      1
3         Lil Nas X  Montero (Call Me By Your Name)      1
4               BTS                          Butter      1
..              ...                             ...    ...
804    Gwen Stefani                       Luxurious      0
805         Rihanna    If It's Lovin' That You Want      0
806       Lil Wayne                         Fireman      0
807     Alicia Keys                     Unbreakable      0
808   Rascal Flatts                 Skin (Sarabeth)      0

[809 rows x 3 columns]

### Save data as csv file

In [10]:
df.to_csv('Billboard1.csv', index=False)

In [11]:
dataset = pd.read_csv('Billboard1.csv')
dataset

             Artist                           Title  Label
0        The Weeknd                 Blinding Lights      1
1    Olivia Rodrigo                        Good 4 U      1
2    Olivia Rodrigo                 Drivers License      1
3         Lil Nas X  Montero (Call Me By Your Name)      1
4               BTS                          Butter      1
..              ...                             ...    ...
804    Gwen Stefani                       Luxurious      0
805         Rihanna    If It's Lovin' That You Want      0
806       Lil Wayne                         Fireman      0
807     Alicia Keys                     Unbreakable      0
808   Rascal Flatts                 Skin (Sarabeth)      0

[809 rows x 3 columns]